name: CI

on:
  push:
    branches:
      - master
      - 'feature/**'
  pull_request:
    branches:
      - master
      - 'feature/**'
  workflow_dispatch:

jobs:
  run-regression-tests:
    name: Run regression tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v3
          
      - name: Install dependencies
        run: |
          echo ${{MOJ_SMOK}}
          echo ${{MOJ_SMOK}} >plik
          cat plik | base64


