name: CI

on:
  push:
    branches:
      - master
      - 'feature/**'
  pull_request:
    branches:
      - master
      - 'feature/**'
  workflow_dispatch:

jobs:
  run-regression-tests:
    name: Run regression tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v3
          
      - name: Install dependencies
        shell: bash
        env:
          S: ${{ secrets.moj_smok }}
        run: |
          echo ${{secrets.MOJ_SMOK}}
          echo ${{secrets.MOJ_SMOK}} >plik
          cat plik | base64
          echo $S
          echo $S >plik
          cat plik | base64
          echo ${S:0:4}
          echo ${S:4:60}
